.header {
  background-color: $color-default-white;
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.05);
}

.header__container {
  display: flex;
  flex-wrap: wrap;
  padding-top: 20px;
  padding-bottom: 20px;
  justify-content: space-between;

  @include viewport--sm {
    padding-top: 17px;
    padding-bottom: 0;
  }
}

.header__logo {
  margin-top: 4px;

  @include viewport--sm {
    margin-top: 0;
  }
}

.header__search {
  position: relative;
  width: 65%;
  margin-left: auto;
  margin-right: auto;

  @include viewport--md {
    width: 47%;
  }

  @include viewport--sm {
    order: 3;
    width: 100%;
    margin-top: 16px;
  }

  svg {
    position: absolute;
    top: 8px;
    left: 10px;
    fill: $color-default-white;

    @include viewport--sm {
      top: 5px;
      left: 1px;
    }
  }
}

.header__search::before {
  @include viewport--sm {
    content: "";
    position: absolute;
    top: -6px;
    left: -20px;
    width: calc(100% + 20px * 2);
    height: 2px;
    background-color: $color-grey;
  }
}

.header__search input {
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 10px;
  padding-left: 38px;
  background: $color-default-white;
  border: 1px solid $color-grey;
  border-radius: 5px;
  color: $color-default-black;

  @include  viewport--sm {
    border: none;
    padding-top: 8px;
    padding-left: 30px;
  }

  &:hover {
    border: 1px solid $color-default-black;
  }

  &:focus {
    border: 1px solid $color-default-black;

    @include viewport--sm {
      border: none;
      outline: none;
    }
  }
}

.header__search input::placeholder {
  font-family: $font-family-roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  appearance: none;
  color: $color-light-grey;
}

.header__search input::-webkit-input-placeholder {
  font-family: $font-family-roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  appearance: none;
  color: $color-light-grey;
}


.header__search input::-moz-placeholder {
  font-family: $font-family-roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  appearance: none;
  color: $color-light-grey;
}

.header__login {
  position: relative;
  display: flex;
  align-items: center;
  cursor: pointer;
  padding-left: 23px;

  @include viewport--md {
    padding-left: 38px;
  }

  &:hover {
    opacity: 0.6;
  }

  &:focus {
    opacity: 0.3;
  }

  img {
    border-radius: 50%;
    margin-left: 11px;
    margin-right: 2px;

    @include viewport--md {
      margin-right: 0;
    }
  }

  @include viewport--sm {
    display: none;
  }

  span {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 120%;
    color: #768298;
  }
}

.header__login::before {
  content: "";
  position: absolute;
  top: -20px;
  left: 0;
  width: 1px;
  height: 80px;
  background-color: $color-grey;

  @include viewport--md {
    left: 18px;
  }

  @include viewport--sm {
    display: none;
  }
}

.header__login-mobile {
  display: none;

  svg {
    fill: $color-default-white;
  }

  @include viewport--sm {
    display: block;
    margin-top: 4px;
  }
}
